html {
	font-size: 12px;
	font-family: SimHei;
	overflow: -moz-scrollbars-vertical;
}

.project-main-body {
	line-height: 20px;
/*	height: 1080px;*/
	margin: 0px;
	background-color: #181c27 !important;
	width: 100%;
}

.project-main-content {
	margin-left: 250px;
	margin-right: 0px;
	padding-bottom: 15px;
	position: relative;
	outline: medium none;
	min-height: 500px;
	width: auto !important;
}

::-webkit-scrollbar {
	display: none;
}

.head {
	/*width: 1680px;*/
	height: 80px;
	background: #191E33;
}

.menu_head {
	width: 1321px;
	height: 100%;
	float: left;
}

.time_head {
	height: 100%;
	position: relative;
	float: right;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.week {
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: right;
	height: 80px;
	float: right;
	z-index: 1;
	position: relative;
}

.menu_item {
	width: 10rem;
	height: 80px;
	float: left;
	cursor: pointer;
	opacity: 0.8;
}

.menu_item table {
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: -0.1px;
	width: 100%;
}

.first_one {
	height: 40px;
	vertical-align: bottom;
}

.second {
	height: 40px;
}

.three {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 40px;
	line-height: 40px;
	background: #283B45;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
}

.three a {
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	letter-spacing: 0;
}


.accordion-sidebar>ul {
	width: 100px !important;
}

.accordion-1-sidebar>ul {
	width: 240px !important;
	background:url("../../img/new-img/nav-left-bg.png") center center no-repeat  !important;
	background-size: cover;
	margin-left: 6px;
}



/*
btn 自定义样式*/
.btn-azuse-1{
	text-align: center;
	color: #232838;
	border-radius:8px;
	background-color: #01FAFF;
}
.btn-azuse-1 :focus{
	text-align: center;
	color: #1b2238;
	border-radius:8px;
	background-color: #15f8ff;
}
.submenu {
	cursor: pointer;
}
.submenu-top.active{
	color: #ffffff;
	z-index: 9999;
	position: relative;
}
.submenu-top.active:before{
	content:"";
	width: 104%;
	height: 62px;
	border-left:6px solid #01FAFF;
	position: absolute;
	top: 0;
	left: -6px;
	background-color:#2E3242;

	z-index: -999;
}
.submenu.open .children-submenu-ul{
	display: block;
}
.submenu .icon-arrow-right{
	width: 16px;
	height: 16px;
	background:url("../../img/new-img/icon-arrow-right.png") center center no-repeat  !important;
	display: inline-block;
	margin-top: 20px;
	margin-right: 26px;
	float: right;
}
.submenu.open>div>.icon-arrow-right{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); 	/* Opera */
}
.children-submenu.open>div>.icon-arrow-right{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); 	/* Opera */
}
.children-submenu{
	cursor: pointer;
}
.children-submenu.active{
	position: relative;
	z-index: 9999;
	color: #ffffff;
}
.children-submenu.open .three-parent{
	display: block;
}
.children-submenu.active:before{
	content:"";
	width: 104%;
	height: 62px;
	border-left:6px solid #01FAFF;
	position: absolute;
	top: 1px;
	left: -6px;
	background-color:#2E3242;

	z-index: -999;
}
.children-submenu-three.active{
	position: relative;
	z-index: 9999;
	color: #ffffff;
}
.children-submenu-three.active:before{
	content:"";
	width: 104%;
	height: 62px;
	border-left:6px solid #01FAFF;
	position: absolute;
	top: 1px;
	left: -6px;
	background-color:#2E3242;

	z-index: -999;
}